<html>
  <head>
    <meta charset="utf-8">
    <title>AjabPay</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            if (window.opener){
                window.opener.location = '{{ redirect_to }}';
                localStorage.setItem('_.token', "{{ token }}");

                setTimeout(function() { window.close() }, 100);
            } else {
                window.close();
            }
        })
    </script>
  </head>
  <body>
    <div id="app">
        <h1>Authenticated Successfully</h1>
        <h2>Welcome, {{ user.get_full_name() }}</h2>
    </div>
  </body>
</html>