{% extends "home.html" %}

{% block panes %}   
    <script type="text/javascript">
        $(function(){
            if (window.opener){
                window.opener.location = '{{ redirect_to }}';
                localStorage.setItem('_.token', "{{ token }}");

                setTimeout(function() { window.close() }, 100);
            } else {
                window.close();
            }
        });
    </script>
    <div class="container">
        <h1>Authenticated Successfully</h1>
        <h3 style="color: #539DDB;">Welcome, {{ g.user.get_full_name() }}</h3>
    </div>
{% endblock panes %}