{% extends "base.html" %}

{% block extracss %}
    <style>
        .home-container {

        }
        .home-container h3 {
            padding: 3rem 0rem;
            text-align: center;
            padding-bottom: 0px;
        }
        .home-container hr {
            margin: 0;
        }
    </style>
{% endblock extracss %}

{% block body %}
    <nav class="navbar navbar-default navbar-primary">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <span><img height="20px" src="/static/img/logo-icon.png" /></span><strong class="ajab"> ajab</strong>{% block product %}<span class="pay">pay</span>{% endblock product %}
                </a>
            </div>
            <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
            <div id="navbar" class="clearfix">
                <div class="collapse navbar-collapse" id="collapsable">
                    {% block navbar_buttons %}
                        {% if g.user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ g.user.get_full_name() }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li role="separator" class="divider hidden"></li>
                                    <li>
                                        <a href="#" onclick="$('#logout-form').submit();">
                                            Logout
                                        </a>
                                        <form class="hidden" id="logout-form" method="POST" action="{{ url_for("logout") }}"></form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        {% endif %}
                    {% endblock navbar_buttons %}
                </div>
            </div>
        </div>
    </nav>

    {% block outer_container_container %}
        <div class="outer-container">
            {% block outer_container %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for category, message in messages %}
                            <li>
                                {% if category == 'message' %}
                                    <div class="alert alert-warning" role="alert">
                                {% else %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                {% endif %}
                                        {{ message }}
                                    </div>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                {% block alternate_content %}
                {% endblock alternate_content %}

                {% block panes_container %}
                    <div class="panes clearfix">
                        {% block panes %}
                            <div class="container">
                                <div class="home-container col-md-4 col-md-offset-4">
                                    <h3>Choose one of our Products</h3>
                                    <hr/>
                                    <ul class="products">
                                        <li class="product p2m">
                                            <a class="btn btn-default btn-block btn-lg" href="{{ url_for("paypal2mpesa") }}">
                                                <img src="/static/img/p2m-xxxlarge.png" height="30px" />
                                            </a>
                                        </li>
                                        <li class="product m2p hidden">
                                            <a class="btn btn-default btn-block btn-lg" href="{{ url_for("paypal2mpesa") }}">
                                                <img src="/static/img/m2p-xxxlarge.png" height="30px" />
                                            </a>
                                        </li>
                                        <li class="product p2e hidden">
                                            <a class="btn btn-default btn-block btn-lg" href="{{ url_for("paypal2mpesa") }}">
                                                <img src="/static/img/p2e-xxxlarge.png" height="30px" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endblock panes %}
                    </div>
                {% endblock panes_container %}
                
                {% block footer %}
                <footer class="footer">
                    AJABWORLD LTD
                </footer>
                {% endblock footer %}
            {% endblock outer_container %}
        </div>
    {% endblock outer_container_container %}
{% endblock body %}