{% extends "base.html" %}

{% block body %}
    <nav class="navbar navbar-default navbar-primary">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <strong class="ajab">ajab</strong><span class="pay">pay</span>
            </a>
            </div>
            <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
            <div id="navbar" class="clearfix">
            <div class="collapse navbar-collapse" id="collapsable">
                {% block navbar_buttons %}
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                {% endblock navbar_buttons %}
            </div>
            </div>
        </div>
    </nav>
    <div class="outer-container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="panes">
            {% block panes %}
                <div class="container">
                    <h2>Pass</h2>
                </div>
            {% endblock panes %}
        </div>
        <div class="footer">
            AJABWORLD LTD
        </div>
    </div>
{% endblock body %}