{% extends "home.html" %}

{% block extracss %}
    <style>
        .left-pane, .right-pane{
            padding: 10rem 5rem;
            height: 91.25%;
        }
        .left-pane{
            padding-left: 15rem;
            padding-right: 12.5rem;
            background-color: #FFFFFF;
            padding-right: 20rem;
        }
        .right-pane{
            text-align: center;
        }
        .right-pane h3 {
            margin-bottom: 3rem;
        }
        .navbar {
            background: #fff;
        }
        .products.index {
            margin-top: 0;
        }
        .products.index .product:first-child {
           padding-top: 1rem;
        }
        .product{
            padding-top: 1.25rem;
        }
        .right-pane h3 {
                margin-bottom: 1rem;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 700;
                font-family: "Open Sans";
        }
        .address{
            bottom: 30px;
            position: absolute;
        }
    </style>
{% endblock %}

{% block panes %}
    <div class="left-pane col-md-9 col-lg-9 hidden-sm hidden-xs">
        <h1 class="call">Transfer your money fast <br/>to any Platform</h1>
        <h4 class="call call-1">Sign up to try our low cost option</h4>
        <h5 class="call call-2"><span class="fee">Fee:</span> Just 4.5% + $1</h5>
        <a class="btn btn-info btn-lg" id="signup-via-paypal">Signup Via Paypal</a>

        <div class="address">
            <address>
                <strong>AjabWorld LTD.</strong><br>
                61, Mai Mahiu Rd, N.West<br>
                Nairobi, Kenya<br>
                <abbr title="Phone">P:</abbr> +(254) 712-22-7777<br>
                <abbr title="Email">E:</abbr> info@ajabworld.net
            </address>
        </div>
    </div>
    <div class="right-pane col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h3>Our Products</h3>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <ul class="products index">
                    {% with logged_in = g.user.is_authenticated %}
                        <li class="product p2m">
                            <a class="btn btn-default btn-block btn-lg {% if not logged_in %}btn-login{% endif %}" href="{{ 
                                logged_in and url_for("paypal2mpesa") or "#"
                            }}">
                                <img src="/static/img/p2m-xxxlarge.png" height="28px" />
                            </a>
                        </li>
                        <li class="product m2p">
                            <a class="btn btn-default btn-block btn-lg {% if not logged_in %}btn-login{% endif %}" href="{{ 
                                logged_in and url_for("paypal2mpesa") or "#"
                            }}">
                                <img src="/static/img/m2p-xxxlarge.png" height="28px" />
                            </a>
                        </li>
                        <li class="product p2e">
                            <a class="btn btn-default btn-block btn-lg {% if not logged_in %}btn-login{% endif %}" href="{{ 
                                logged_in and url_for("paypal2mpesa") or "#"
                            }}">
                                <img src="/static/img/p2e-xxxlarge.png" height="28px" />
                            </a>
                        </li>
                    {% endwith %}
                </ul>
            </div>
        </div>
        <hr>
        <a id="login-via-paypal" href="#">
            <img src="https://www.paypalobjects.com/webstatic/en_US/developer/docs/lipp/loginwithpaypalbutton.png" />    
        </a>
    </div>
{% endblock panes %}