{% extends "home.html" %}

{% block panes %}
    <div class="container error-pane">
        <h1 style="text-decoration: underline;">Instructions</h1>
        <br />

        <ol>
            <li>
                <p>
                    Username: demo@gmail.com
                    password: demo1234
                </p>
            </li>
            <li>
                <p>
                    You can see on the top nav all the relevant links. <br/>
                    These are main modules and their dashboard as the main pages.
                </p>
            </li>
        </ol>
    </div>
{% endblock panes %}