<html>
    <head>
    </head>
    </body>
        Dear {{ user.get_full_name }}, <br><br>
        Thank you for joining AjabWorld!<br><br>
        You have received this e-mail because you created an account at https://ajabpay.ajabworld.com. To complete registration, please click the following link.<br><br>
        <a>CLICK HERE TO COMPLETE CONFIRMATION</a><br><br>
        Alternatively, the verification code is: {{ }} <br><br>
        Best,<br>
        The AjabWorld Team<br>
    </body>
</html>